html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 'KievitPro';
  color: #2c2f7b;
}
body {
  max-width: 900px;
  margin: 0 auto;
  -text-rendering: optimizeLegability;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style-type: none;
}
