---
---

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding-top: 20px;
}
.post {
  margin-left: -40px;
  background-color: green;
  height: 480px;
  text-transform: lowercase;
  letter-spacing: 0.8em;
  cursor:pointer;
  text-align: right;
}
.post img{
  repeat: no-repeat;
}
.post_title {
  margin: 0 0 0 -52px;
}
li h1 {
  margin: 0;
  width: 260px;
  font-size: 38px;
  font-weight: 500;
}
li p {
  margin: 0;
  font-size: 14px;
  opacity: 0.3;
}
