---
---

ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding-top: 40px;
}
.post {
  margin-left: -40px;
  background-color: green;
  height: 460px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor:pointer;
}
.post img{
  repeat: no-repeat;
}
.post_title {
  margin: 0 0 0 -20px;
}
li h1 {
  margin: 0;
  width: 400px;
  font-family: 'Brandon Text';
  font-weight: 100;
  font-size: 26px;
}
li p {
  margin: 0;
  font-size: 14px;
  opacity: 0.3;
}
